<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
</head>
<body>
   <header>
      <div class="wrapper holder">
         <img src="images/images/logo.png" alt="">
         <nav class="nav-bar">
            <label class="mobile-list" for="menuToggler">
                <i class="fa fa-bars"></i>
            </label>
            <input type="checkbox" id="menuToggler">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Location</a></li>
            </ul>
         </nav>
      </div>
   </header>
   <div class="content wrapper">
       <h1><i class="fa fa-cogs"></i>&nbspProjects</h1>
       <div class="images">
           <img src="images/images/banner1.jpg" alt="">
           <img src="images/images/banner2.jpg" alt="">
           <img src="images/images/banner3.jpg" alt="">
           <img src="images/images/banner4.jpg" alt="">
       </div>

       <div class="blocks">

         <section class="left-block">
           <h1><i class="fa fa-rss"></i>&nbspFrom Blog</h1>
           <article>
               <img src="images/images/rss1.jpg" alt="">
               <h4>Our work process reviewed</h4>
               <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor.
                   Suspendisse dictum feugiat nisl ut dapibus mauris.
                   <a href="#">Read more...</a><br>
                   <span class="date">01/01/13 - 10:21 AM</span>
               </p>
           </article>
           <article>
               <img src="images/images/rss2.jpg" alt="">
               <h4>Who we are at Appcompany</h4>
               <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor.
                   Suspendisse dictum feugiat nisl ut dapibus mauris.
                   <a href="#">Read more...</a><br>
                   <span class="date">01/01/13 - 10:21 AM</span>
               </p>
           </article>
           <a href="#">Older entries</a>
         </section>

         <section class="right-block">
           <h1><i class="fa fa-twitter"></i>&nbspTwitter feed</h1>
           <p><span class="avtor">@Apptastico:</span> In <a>pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo,
           eget Duis aliquet egestas <a>#purus</a> in <a>#blandit</a>.<br>
           <span class="date">01/01/13 - 10:21 AM</span>
           </p>

           <p><span class="avtor">@Apptastico:</span> In <a>pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo,
               eget Duis aliquet egestas <a>#purus</a> in <a>#blandit</a>.<br>
               <span class="date">01/01/13 - 10:21 AM</span>
           </p>

           <p><span class="avtor">@Apptastico:</span> In <a>pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo,
               eget Duis aliquet egestas <a>#purus</a> in <a>#blandit</a>.<br>
               <span class="date">01/01/13 - 10:21 AM</span>
           </p>
           <a href="#">Follow on Twitter</a>

         </section>
       </div>


   </div>
   <footer>
       <div class="wrapper footer-holder">
       <address>&copyA-Level 2017</address>
       <div class="social">
           <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
           <a href="#"><i class="fa fa-github-alt fa-2x"></i></a>
           <a href="#"><i class="fa fa-firefox fa-2x"></i></a>
           <a href="#"><i class="fa fa-reddit-alien fa-2x"></i></a>
       </div>

       </div>
   </footer>

</body>
</html>